<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849020905688-gfo4hcau2bb8t67n2vk7gjnft6lt1bgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849020905688-gfo4hcau2bb8t67n2vk7gjnft6lt1bgs</string>
	<key>API_KEY</key>
	<string>AIzaSyAx4opgrsTnujDEQPLG9To_LiG7Ar0Rey8</string>
	<key>GCM_SENDER_ID</key>
	<string>849020905688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resam.Clinic</string>
	<key>PROJECT_ID</key>
	<string>clinic-4ef2f</string>
	<key>STORAGE_BUCKET</key>
	<string>clinic-4ef2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849020905688:ios:6d8f8f3df661f33892cfad</string>
</dict>
</plist>